<!DOCTYPE html>
<htm>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Aajai</title>
    <link rel=" shortcut icon" href="/images/logoicon.ico" />
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="stylesheets/sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <style>
    body {
        font-family: "Lato", sans-serif;
    }


    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
    .image img{
        width: 100%;
        height: 42em;
     }
     .text-center a {
             padding: 6px 8px 6px 16px;
             text-decoration: none;
             font-size: 20px;
             color: #1ab2ba;
             display: block;

         }
      .text-center a:hover {
                 color: black;
             }
     .text-holder{
          position: absolute;
          height: 100%;
          width: 35%;
          top: 0%;
          right: 15%;
          display: inline-block;
          margin: 0px;
          overflow:hidden;
          font-size: 17px;
          background-color: rgba(232, 228, 225,0.5);
          color: #1ab2ba;
          z-index: 20;
          text-align: center;
          padding: 1em;
          font-weight: bold;

        }

              .card-container.card {
              position: relative;
              margin-top:30px;
              margin-left: 0px;
                max-width: 400px;
                max-height: 450px;
                padding: 30px 30px;

            }

            .btn {
                font-weight: 700;
                height: 36px;
                -moz-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                cursor: default;
            }

            /*   * Card component      */
            .card {
                background-color: transparent;
                /* just in case there no content*/
               /* padding: 10px 25px 30px;*/
                margin: 0 auto 25px;
                margin-top: 50px;
                margin-left: 10px;
                font-size: 20px;
                font-family: Times New Roman;
                /* shadows and rounded borders */
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/

            }

            .profile-img-card {
            width: 96px;
            height: 96px;
            margin: 0 auto 10px;
            display: block;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            }

            /*
             * Form styles
             */
            .profile-name-card {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                margin: 10px 0 0;
                min-height: 1em;
            }

            .form-signin #inputEmail,
            .form-signin #inputPassword {
                direction: ltr;
                height: 44px;
                font-size: 16px;
            }

            .form-signin input[type=email],
            .form-signin input[type=password],
            .form-signin input[type=text],
            .form-signin button {
                width: 100%;
                display: block;
                margin-bottom: 10px;
                z-index: 1;
                position: relative;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            .form-signin .form-control:focus {
                border-color: rgb(104, 145, 162);
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
            }

            .btn.btn-signin {
                /*background-color: #4d90fe; */
                background-color: rgb(12, 97, 33);
                /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
                padding: 0px;
                font-weight: 700;
                font-size: 14px;
                height: 36px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                border: none;
                -o-transition: all 0.218s;
                -moz-transition: all 0.218s;
                -webkit-transition: all 0.218s;
                transition: all 0.218s;
            }

            .btn.btn-signin:hover,
            .btn.btn-signin:active,
            .btn.btn-signin:focus{
              background-color: #1e88e5;
            }

            .container-f{
              background-color: #263238;
               height: 100px; margin-top: -20px;
              }

     .text-center{
      margin-top: 100px;

     }
      .over{
        background-color: #0E49AC;
        width: 100%;
        height: 150px;
        display: inline-block;
        margin: 0px;
        margin-top: -185px;
      }

      .over1{
        margin-top: -35px;
      }

    </style>


  </head>

  <body>
      <div class="main">
        <div class="image">
          <img src="/images/img7.jpg">
        </div>
        <div class="text-holder">
          <div class="container container-table">
            <div class="row vertical-center-row" style="margin-top:20px;">
              <div class="col-md-3"></div><br>
                <div class="text-center col-md-6">
                    <img id="profile-img" class="profile-img-card" src="./images/logo.jpg" />
                    <form class="form-signin" action="/login" method="post">
                        <label for="username"><b>Username</b></label><br>
                        <input type="text" id="username"  name="username" style="height:28px" class="form-control" required >
                        <label for="password"><b>Password</b></label><br>
                        <input type="password" name="password" id="password" style="height:28px" class="form-control"  required >
                        <div id="remember" class="checkbox">
                          <label>
                            <input type="checkbox" value="remember-me"> Remember me
                          </label>
                        </div>
                          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"><i class=" fa fa-heart"></i> SIGN IN </button> <br>

                    </form>
										<a href="/signup">  Don't have an account? </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="over1">

            <div class="footer-copyright">
               <p>© 2019 WLiT Bootcamp </p>
            </div>

         </div>
     </div>

  </body>
</html>
