<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Time Management</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/sidebar.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <style>

        .dropbtn {
        background-color: rgb(255, 255, 255);
        color: rgb(17, 13, 13);
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #fdfdfd;
    }

    .dropdown {
        float: right;
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 0;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #ddd;}

    .show {display: block;}


    /* for checkmark and strike through */

    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
    }

    /* Hide the browser's default checkbox */
    .container input {
      display: none
    }
    /* Create a custom checkbox - using ::before */
    .checkmark::before {
      content: "";
      height: 25px;
      width: 25px;
      background-color: #808080;
      position: absolute;
      left:0;
      top:0;
    }
    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark::before {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark::before {
      background-color: #2196F3;
    }

    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
      display: block;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      content: "";
      position: absolute;
    }

    /* strike throught the text */
    .container input:checked~.checkmark {
      text-decoration: line-through
    }



        </style>


</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Time Management
                    </a>
                </li>
                <li>
                    <a href="#">Todo List</a>
                </li>
                <li>
                    <a href="#">Exam Prep</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Group Discussions</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fas fa-align-justify"></i></a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- <div class="container container-table">
    <div class="row vertical-center-row">
      <div class="col-md-2"></div>
      <div class="text-center col-md-8 shadow-lg p-3 mb-5 bg-white rounded">Things to do</div>
    </div>
</div> -->

    <!-- Bootstrap core JavaScript -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

<div style="margin:auto; width:40%;">
    <h2>Your Daily To Do List:</h2><br>
    <form action="/addTodo" method="post">
      <input type="text" name="todo" id="yourtodo">
      <input type="hidden" name="_id" value="<%= user._id %>">
      <button>Submit</button><br><br><br>
    </form>

  <label class="container">
    <input type="checkbox">
    <span class="checkmark">Take Shower</span><br>
  </label>

</div>

</div>

</body>

</html>
